version: '3.4'

services:
   lucca.api:
     image: ${DOCKER_REGISTRY-}lucca-api
     container_name: lucca_api
     build:
      context: .
      dockerfile: Lucca.Api/Dockerfile
     ports:
       - 5000:80
     depends_on:
       - lucca.db

   lucca.db:
     image: mcr.microsoft.com/mssql/server:2019-latest
     environment:
            SA_PASSWORD: "2Secure*Password2"
            ACCEPT_EULA: "Y"
     container_name: lucca_db
     ports:
       - 1433:1433
